body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.adminrecipeadd{
  display: inline-table;
}
.tgrecipe{
  border: solid 1px #ebebeb;
  width:100%;
  margin: 1rem 0px;
  border-radius: 5px;
}
.recipename{
  width: 80%;
}
.recipetime{
  width: 20%;
}
.btrecipeadmin{
  display: inline-block;
}
.descriptioncomponents{
  border: solid 1px #dddd;
  background-color: #f8f8f8;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
}
.recipebody{
  padding: 0px;
}
.headerpercipe{
    padding: 10px 0;
  border-bottom:solid 1px #ebebeb
}
.btrecipeadmin .btn.btn-danger{
  margin: 0px 3px;
}
.accordion {
  width:100%
}
.accordion__title {
  padding: 5px 0px!important;
}
